In [2]:
import pandas as pd

def text_to_pct(txt):
  if len(txt) == 1:
    txt = '0'+txt

  return float('.{}'.format(txt))

def clean_nci(row):
  #use index instead of names because of encoding issues
  row[1] = text_to_pct(row[1].split('%')[0])
  row[2] = text_to_pct(row[2].split('%')[0])
  row[3] = text_to_pct(row[3].split('%')[0])
  row[4] = text_to_pct(row[4].split('%')[0])
  row[5] = text_to_pct(row[5].split('%')[0])
  
  return row

df_acs = pd.read_csv('https://raw.githubusercontent.com/davidhcoe/mads_591_592/master/data/ACS/ACSDT1Y2010.B18131_data_with_overlays_2020-08-29T124705.csv')
df_nber = pd.read_csv('https://raw.githubusercontent.com/davidhcoe/mads_591_592/master/data/NBER/cbsa2fipsxw.csv')
df_nci = pd.read_csv('https://raw.githubusercontent.com/davidhcoe/mads_591_592/master/data/NCI/NCI_tbl27.csv', encoding = "ISO-8859-1", engine='python')
df_nci = df_nci.apply(clean_nci, axis=1)
df_nci.columns = [['State','None','Limited','Full','Has_Unknown_Level','Unknown','N']]
df_nci

          State  None Limited  Full Has_Unknown_Level Unknown      N
0            AL  0.72    0.02  0.25              0.01    0.00    381
1            AZ  0.35    0.04  0.58              0.03    0.01    491
2            AR  0.45    0.05  0.47              0.02    0.01    395
3            CA  0.79    0.21  0.00              0.00    0.00   8275
4            CO  0.46    0.00  0.37              0.04    0.12    405
5            CT  0.16    0.11  0.73              0.00    0.00    371
6            DE  0.94    0.00  0.05              0.00    0.00    415
7            DC  0.21    0.23  0.27              0.21    0.08    414
8            FL  0.68    0.13  0.19              0.00    0.00    957
9            GA  0.84    0.01  0.14              0.01    0.00    472
10           IL  0.33    0.07  0.59              0.00    0.00    368
11           IN  0.47    0.01  0.49              0.03    0.00    739
12           KS  0.37    0.03  0.59              0.01    0.00    386
13           KY  0.32    0.03  0.63              0.01    0.01    417
14           LA  0.85    0.04  0.10              0.02    0.00    438
15           ME  0.26    0.04  0.68              0.02    0.00    396
16           MA  0.44    0.08  0.47              0.00    0.00    418
17           MI  0.20    0.19  0.58              0.04    0.00    648
18           MN  0.18    0.00  0.00              0.57    0.25    401
19           MO  0.17    0.05  0.77              0.00    0.00    400
20           NE  0.11    0.09  0.75              0.05    0.00    419
21           NV  0.64    0.03  0.33              0.00    0.00    392
22           NY  0.55    0.08  0.30              0.03    0.04    507
23           NC  0.26    0.09  0.64              0.02    0.00    666
24           OH  0.53    0.13  0.31              0.03    0.00    740
25           OK  0.38    0.03  0.59              0.00    0.00    400
26           OR  0.77    0.00  0.00              0.23    0.00    428
27           PA  0.77    0.03  0.13              0.02    0.06    672
28           RI  0.68    0.06  0.22              0.02    0.02    353
29           SC  0.83    0.03  0.05              0.01    0.07    443
30           TN  0.42    0.19  0.34              0.05    0.00    438
31           UT  0.49    0.11  0.35              0.04    0.02    395
32           VT  0.30    0.02  0.67              0.01    0.00    331
33           VA  0.54    0.07  0.38              0.01    0.00    809
34           WI  0.38    0.00  0.00              0.62    0.00    987
35           WY  0.29    0.05  0.65              0.00    0.00    332
36  NCI Average  0.54    0.09  0.28              0.06    0.02  25499